.SolutionAcupoints {
  margin: 0;
  padding: 0;
  min-height: 10rem;
  max-height: 20rem;
  margin-left: auto;
  margin-right: auto;

  display: grid;
  gap: 0;
  column-count: auto;
  grid-auto-flow: column dense;
  grid-column-gap: 0;
  grid-row-gap: 0;

  .acupoint {
    margin: 0;
    padding: 0;
    grid-row: 1;

    aspect-ratio: 1;
    container-type: inline-size;
    container-name: acupoint;
    span {
      margin: 0;
      padding: 0;
      text-align: center;
      font-size: 110cqi;
      text-align: center;
    }
  }

  .annote {
    border-radius: 5px;
    height: 10px;
    background-color: white;
    font-size: 10px;
    color: black;

    border-style: solid;

    &:hover {
      background-color: #ffb81c;
    }
  }
}