$color-scheme: dark;

@font-face {
  font-family: 'AssassinNinja';
  src: local('AssasinNinja'),
       url('/fonts/AssassinNinja.ttf') format('truetype'),
       url('/fonts/AssassinNinja.otf') format('opentype');
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

:root {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: AssassinNinja;
  line-height: 1.5;
  font-weight: 1000;
 
  color-scheme: $color-scheme;
  color: rgba(255, 255, 255, 0.87);
  background-color: #5a5a5a;
 
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
 
#app {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

.Solver {
  padding: 0;
  margin: 0;
  height: 95vh;
}

.Footer {
  padding: 0;
  margin: 0;
  height: 5vh;
}
